<section>
  <h3>Liste des personnels disponible</h3>

  <article>
    <a> <button class="btn btn-outline-danger" (click)="addButtonClick()">Create personnels</button></a>

    <table class="table">
      <thead>
        <tr>
          <td>Nom</td>
          <td>Prenom</td>
          <td>Habilitation</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let v of compagnies.personnels$ ">
          <td>{{v.data.nom}}</td>
          <td>{{v.data.prenom}}</td>
          <td>{{v.data.habilitation}}</td>
          <td> <button class="btn btn-outline-dark" (click)="editButtonClick(v.id)">Edit personnels</button></td>
          <td> <button class="btn btn-outline-dark" (click)="compagnies.deletePersonel(v.data)">Delete
              personnels</button></td>
        </tr>
      </tbody>
    </table>
  </article>
</section>
