
<section>
  <h3>Modifier le personnel </h3>
  <form (submit)="updatePersonnel()" #f="ngForm" *ngIf="perxx">
    <label for="nom"> Nom</label>
    <input [(ngModel)]="perxx.nom" name="nom">
    <label for="prenom"> Prenom</label>
    <input [(ngModel)]="perxx.prenom" name="prenom">
    <label for="Habilitation"> Habilitation</label>
    <select class="custom-select" name="habilitation" [(ngModel)]="perxx.habilitation" id="habilitation">
      <option selected></option>
      <option *ngFor="let fileType of fileTypes" [value]="fileType"> {{fileType}}</option>
    </select>
    <input type="submit" value="Valider">
  </form>
</section>
