<aside class="masthead">
  <nav>
    <ul>
        <li><a  href routerLink="/intranet" title="Retourner à l'acceuil de l'intranet" ><i class="fa fa-intranet"></i>&nbsp;  Attribution</a></li>
        <li><a href routerLink="/intranet/personnels" title="Administer le personnel"><i class="fa fa-personnel"></i>&nbsp;  Personnels</a></li>
        <li><a href routerLink="/intranet/avions" title="Administer les avions" ><i class="fa fa-avions"></i>&nbsp;  Avions</a></li>
    </ul>
  </nav>
  <div class="wrapper">
        <div class="col py-3 text-center">
          <h1>Intranet</h1>
              <router-outlet></router-outlet>
      </div>
  </div>

</aside>
