<section>
  <h3>Liste des avions disponibles</h3>
  <p>Avion sélectionné :</p>
  <form (submit)="updateVol()" #f="ngForm" *ngIf="vol">
    <label for="code"> Code</label>
    <input [(ngModel)]="vol.code" name="code">
    <label for="avion"> Avion</label>
    <li> <input [(ngModel)]="vol.avion.modele" name="modele"></li>
    <li> <input [(ngModel)]="vol.avion.autonomie" name="autonomie"></li>
    <li> <input [(ngModel)]="vol.avion.code" name="code"></li>
    <li> <input [(ngModel)]="vol.avion.capacite" name="capacite"></li>
    <label for="date"> Date</label>
    <input [(ngModel)]="vol.date" name="date">
    <label for="personnels"> Personnels</label>

    <tr *ngFor="let p of vol.personnel">
      <input [(ngModel)]="p.nom" name="nom">
      <input [(ngModel)]="p.prenom" name="prenom">
      <input [(ngModel)]="p.habilitation" name="habilitation">
    </tr>
    <label for="aeroportArrivee"> Aeroport D'Arrivée</label>
    <input [(ngModel)]="vol.aeroportArrivee" name="aeroportArrivee">
    <label for="aeroportDepart"> Aeroport De départ</label>
      <input [(ngModel)]="vol.aeroportArrivee" name="aeroportArrivee">
      <input type="submit" value="Valider">
  </form>
</section>
